@import "tailwindcss";

@theme {
  --color-primary-50: #e8f2f7;
  --color-primary-100: #d1e5ef;
  --color-primary-200: #a3cbe0;
  --color-primary-300: #75b1d0;
  --color-primary-400: #4797c1;
  --color-primary-500: #197db1;
  --color-primary-600: #0b5394;
  --color-primary-700: #094176;
  --color-primary-800: #072f59;
  --color-primary-900: #051d3b;

  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 255, 255, 255;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  @theme {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 15, 23, 42;
    --background-end-rgb: 15, 23, 42;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      rgb(var(--background-start-rgb)),
      rgb(var(--background-end-rgb))
    );
}
